@model List<tblSanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBH.cshtml";
}

<!-- Products grid -->
<section class="products">
    <h2>Sản phẩm nổi bật</h2>
    <div class="product-grid">
        <!--Card 1-->
        @foreach (var pet in Model)
        {
            <article class="product-card">

                <a href="@Url.Action("ChiTiet","CTSanPham", new {masp = pet.MaSP})" style="text-decoration:none">
                    <div class="thumb">
                        <img src="~/Content/HinhAnh/@pet.AnhDaiDien" alt="@pet.TenSP" />
                    </div>
                    <h4 class="title">@pet.TenSP</h4>
                    <p class="price">
                        <span class="new-price">@string.Format("{0:N0} ₫", pet.GiaBan)</span>
                    </p>
                </a>
                <button class="btn btn-primary">Thêm vào giỏ</button>
            </article>
        }
    </div>
</section>





