@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBH.cshtml";
}
<!-- MAIN FORM LOGIN-->
<div class="container">
    <div class="login-container mt-4" style="width: 400px; margin:auto">
        <div class="card shadow-lg p-3">
            <h3 class="card-title text-center fw-bold text-primary mb-4">Đăng nhập</h3>

            @using (Html.BeginForm("XuLyDN", "DangNhap", new { url = ViewBag.Url }, FormMethod.Post))
            {
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label class="form-label">Mật khẩu</label>
                    <input type="password" name="password" class="form-control" required />
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary w-100 mb-3">ĐĂNG NHẬP</button>

                    <p class="text-center">
                        Chưa có tài khoản?
                        <a href="@Url.Action("Index", "DangKy")" class="text-decoration-none fw-bold">
                            Đăng ký ngay
                        </a>
                    </p>
                </div>
            }
        </div>
    </div>
</div>
<!-- MAIN FORM LOGIN -->
